// :root {
// 	--fontMain--: "Montserrat";
// 	--fontSecondary--: "Catamaran";
// 	--colorPrimary--: #60d394;
// 	--colorDark--: #2b2d42;
// 	--colorWhite--: #ffffff;
// 	--colorDarkLight--: rgba(43, 45, 66, 0.5);
// 	--colorGrey--: #ffffffb3;
// 	--colorGreyLight--: #f8f7f9;
// }

$font-main: "Montserrat";
$font-secondary: "Catamaran";
$color-primary: #60d394;
$color-dark: #2b2d42;
$color-white: #ffffff;
$color-dark-light: rgba(43, 45, 66, 0.5);
$color-grey: #ffffffb3;
$color-grey-light: #f8f7f9;
