.footer {
	background: var(--colorDark--);
	padding: 1.5rem 0;
}
.footer__display {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 5rem;
}
.footer__logo {
	font-size: 5rem;
	font-family: var(--fontMain--);
	font-weight: bold;
}
.footer__logo1 {
	color: var(--colorWhite--);
}
.footer__text {
	font-family: var(--fontSecondary--);
	font-size: 1.5rem;
	color: var(--colorGreyLight--);
}
.mail,
.localization {
	display: flex;
	align-items: center;
}

.footer__icon {
	width: 2rem;
	height: 2rem;
	fill: var(--colorPrimary--);
	margin-right: 0.7rem;
}
.copyright {
	font-family: var(--fontSecondary--);
	font-size: 1.3rem;
	color: var(--colorGrey--);
	margin-top: 0.9rem;
	text-align: center;
}
