.header {
	min-height: 100vh;
	&__top {
		margin: 2.5rem 5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media only screen and (max-width: 28.125em) {
			flex-direction: column;
			margin: 2.5rem 0;
		}
	}
	&__bottom {
		margin: 0rem 5rem;

		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		&--right {
			img {
				width: 100%;
				height: 100%;
			}
			@media only screen and (max-width: 56.25em) {
				height: 35rem;
			}
		}
		&--left {
			@media only screen and (max-width: 56.25em) {
				text-align: center;
				padding: 5rem 0;

				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		@media only screen and (max-width: 56.25em) {
			grid-template-columns: 1fr;
			padding-bottom: 5rem;
			margin: 0 1.5rem;
		}
	}
}

.aboutUs {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $color-grey-light;
	padding: 10rem;
	@media only screen and (max-width: 28.125em) {
		padding: 10rem 1.5rem;
	}
	&__text {
		width: 70%;
		text-align: center;
		font-size: 1.8rem;
		color: $color-dark;
		font-family: $font-secondary;
		margin: 2.5rem;
	}
	&__strongSides {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 5rem;
	}
}

.carStock {
	padding: 10rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media only screen and (max-width: 28.125em) {
		text-align: center;
	}
	&__cars {
		width: 100%;
		padding: 5rem 0;
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
		grid-column-gap: 2rem;
		grid-row-gap: 5rem;
	}
}

.charts {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 5rem 0;
	&__text {
		width: 70%;
		text-align: center;
		font-size: 1.8rem;
		color: $color-dark;
		font-family: $font-secondary;
		margin: 2.5rem;
	}
}

.footer {
	background: $color-dark;
	padding: 1.5rem 0;
	&__details {
		display: flex;
		flex-direction: column;
		align-items: left;
		margin-left: 5rem;
	}
	&__text {
		font-family: $font-secondary;
		font-size: 1.5rem;
		color: $color-grey-light;
	}
	&__mail,
	&__localization {
		display: flex;
		align-items: center;
	}
	&__icon {
		width: 2rem;
		height: 2rem;
		fill: $color-primary;
		margin-right: 0.7rem;
	}
	&__copyright {
		font-family: $font-secondary;
		font-size: 1.3rem;
		color: $color-grey;
		margin-top: 0.9rem;
		text-align: center;
	}
}

.contact {
	background-color: $color-grey-light;
	padding: 10rem 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	&__errors {
		font-family: $font-secondary;
		font-size: 1.4rem;
		margin-top: 1rem;
		color: red;
	}
	&__form {
		display: flex;
		flex-direction: column;
		font-family: $font-main;
		label {
			font-size: 1.6rem;
			font-weight: 600;
			color: $color-dark;
			margin: 1.5rem 0 0.5rem 0;
			&:first-child {
				margin-top: 4rem;
			}
		}
		textarea {
			height: 15rem;
			resize: none;
		}
	}
	&__input {
		width: 30rem;
		height: 4rem;
		padding: 1rem 1.5rem;
		font-size: 1.4rem;
		border: none;
		font-family: $font-secondary;
		&:focus {
			outline-color: $color-primary;
		}
	}
}
